.LayoutSwitcher {
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: white solid 3px;
    width: 100px;
    height: 100px;
}

.LayoutSwitcher:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}