.LayoutSwitcher {
    color: white;
    font-size: 2vh;
    font-weight: bold;
    border: white solid 3px;
    height: 7vh;
    width: 7vh;
    margin-right: 20px;
}

.LayoutSwitcher:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}