.c1 {
    background-color: #264653;
}

.c2 {
    background-color: #2a9d8f;
}

.c3 {
    background-color: #e9c46a;
}

.c4 {
    background-color: #f4a261;
}

.c5 {
    background-color: #e76f51;
}

.c1, .c2, .c3, .c4, .c5 {
    height: 100px;
    margin: 0;
}

.container {
    height: 80vh;
    background-color: white;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}


