.c1 {
    background-color: #264653;
}

.c2 {
    background-color: #2a9d8f;
}

.c3 {
    background-color: #e9c46a;
}

.c4 {
    background-color: #f4a261;
}

.c5 {
    background-color: #e76f51;
}

.c1, .c2, .c3, .c4, .c5 {
    height: 100px;
    margin: 0;
}

.container {
    background-color: white;
    height: 80vh;
}

.MostlyFluid .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.MostlyFluid .c1, .MostlyFluid .c2, .MostlyFluid .c3, .MostlyFluid .c4, .MostlyFluid .c5 {
    width: 100%;
}

@media (min-width: 300px) {
    .MostlyFluid .c2, .MostlyFluid .c3, .MostlyFluid .c4, .MostlyFluid .c5 {
        width: 50%;
    }
}

@media (min-width: 500px) {
    .MostlyFluid .c1 {
        width: 60%;
    }
    .MostlyFluid .c2 {
        width: 40%;
    }
    .MostlyFluid .c3, .MostlyFluid .c4 {
        width: 33%;
    }
    .MostlyFluid .c5 {
        width: 34%;
    }
}

@media (min-width: 500px) {
    .MostlyFluid .container {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}




