.small .c1, .small .c2, .small .c3, .small .c4, .small .c5 {
    width: 100%;
}

.medium .c1 {
    width: 100%;
}

.medium .c2, .medium .c3, .medium .c4, .medium .c5 {
    width: 50%;
}

.large .c1 {
    width: 60%;
}

.large .c2 {
    width: 40%;
}

.large .c3, .large .c4 {
    width: 33%;
}

.large .c5 {
    width: 34%;
}

.large .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}